/* @font-face {
  font-family: GothamSSm-Bold_Web;
  src: url(../fonts/GothamSSm-Bold_Web.otf);
}

@font-face {
  font-family: GothamSSm-Book_Web;
  src: url(../fonts/GothamSSm-Book_Web.otf);
}

@font-face {
  font-family: GothamSSm-Light_Web;
  src: url(../fonts/GothamSSm-Light_Web.otf);
}

@font-face {
  font-family: GothamSSm-Medium_Web;
  src: url(../fonts/GothamSSm-Medium_Web.otf);
}

@font-face {
  font-family: GothamSSm-XLight_Web;
  src: url(../fonts/GothamSSm-XLight_Web.otf);
} */

@font-face{
  font-family: gotham-light;
  src: url(../Fonts/GothamSSm-Light_Web.otf);
  }
  @font-face {
  font-family: gotham-med;
  src: url(../Fonts/GothamSSm-Medium_Web.otf);
  }
  @font-face {
  font-family: gotham-bold;
  src: url(../Fonts/GothamSSm-Bold_Web.otf);
  }
  @font-face {
  font-family: gotham-xlight;
  src: url(../Fonts/GothamSSm-XLight_Web.otf);
  }
  @font-face {
  font-family: gotham-book;
  src: url(../Fonts/GothamSSm-Book_Web.otf);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.svg_logo {
  margin-left: 48px;
  max-width: 120px;
  min-height: 54px;
}

body {
  color: #fff;
  /* font-family: GothamSSm-XLight_Web , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: gotham-med, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background: url(../img/Model-3-Main-Hero-Desktop-LHD.jpg) center center/cover;
  height: 100vh;
}

/* navigatino bar style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 8px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
}

.right-nav-ul {
  padding-right: 32px;
}

/* .middle-nav-ul {
  display: flex;
  justify-content: center;
} */

/* navigation bar logo */
nav.svg_logo {
  margin-right: auto;
}

/* navigation bar middle nav */
nav.middle-nav {
  position: absolute;
}

/* navigation bar rigth nav */
nav.right-nav {
  margin-right: 100px;
}

/* header content */
.header-h1 {
  text-align: center;
  margin: auto;
  margin-top: 12vh;
  padding: 0 24px;
  width: 100%;
  font-size: 40px;
  font-weight: 500;
}

/* header content - section */

.empty-div {
  height: 70vh;
}

section {
  /* height: 74vh; */
  margin: 0 36%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.speed {
  font-size: 28px;
  margin-left: 8px;
  padding: 4px 24px;
}

.speed2 {
  font-size: 12px;
  padding-top: 8px;
}

.range {
  font-size: 28px;
  margin-left: 8px;
  padding: 4px 24px;
}

.range2 {
  font-size: 12px;
  padding-top: 8px;
}

.awd {
  font-size: 28px;
  margin-left: 8px;
  padding: 4px 24px;
}

.awd2 {
  font-size: 12px;
  padding-top: 8px;
}

section a {
  font-size: 14px;
  font-weight: 400;
  width: 204px;
  height: 40px;
  text-align: center;
  margin-left: 8px;
  padding: 8px 24px;
  text-decoration: none;
  color: #fff;
  border: #fff solid 1px;
}
/* --------------second page------------------ */

section {
  display: flex;
}

section img {
  margin-top: 96vh;
  width: 82.5%;
  height: 100vh;
}