* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.svg_logo {
  margin-left: 48px;
  max-width: 120px;
  min-height: 54px;
}

body {
  color: #fff;
}

header {
  background: url(../img/Model-3-Main-Hero-Desktop-LHD.jpg) center center/cover;
  height: 100vh;
}